# Rust typical
/target/
debug/
*.rs.bk
*.rlib
*.prof*
.idea/
*.log
.env*
/# Node/JS/TS
node_modules/
dist/
build/
*.log
.env*
# General
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
# Prevent copying of git and CI files
.git/
.github/
.gitignore
.gitattributes
.gitmodules
# For Docker cache efficiency
**/tmp/
coverage/
