name: Labeler

on: [pull_request_target]

permissions:
  contents: read
  pull-requests: write

jobs:
  label:
    uses: dallay/common-actions/.github/workflows/pr-labeler.yml@v1
    secrets: inherit
