name: Stale

on:
  schedule:
    - cron: "0 2 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    uses: dallay/common-actions/.github/workflows/stale.yml@ae3cdbb8d968b55d78a15995f3241b31a317e089 # v1
    secrets: inherit
