name: Stale

on:
  schedule:
    - cron: "0 2 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    uses: dallay/common-actions/.github/workflows/stale.yml@ae3cdbb9ec2a94622a72d984da9254bc70e071dc # v1
    secrets: inherit
